// Run type
// Which run you want to use.
// "annot_plasmid" = Annotate only plasmid, no reconstruction
// "annot_chrom" = Annotate both chromosome and plasmids, no reconstruction
// "recon_plasmid" = Annotate and reconstruct plasmids, no chromosome annotation
// "recon_chrom" = Annotate both plasmids and chromosome, reconstruct plasmids

params.run="recon_plasmid"

// Input
params.assemblies="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/qrec/assemblies/*.fasta"
params.reads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/qrec/reads/*_L005_R{1,2}_001.fastq.gz"

// Databases
params.resfinder_db="/cluster/projects/nn9305k/src/resfinder_db"
params.virfinder_db="/cluster/projects/nn9305k/src/virulencefinder_db"
params.plasfinder_db="/cluster/projects/nn9305k/src/plasmidfinder_db"

// Unicycler
// Mode of assembly, either 'bold', 'normal', or 'conservative'
params.mode="bold"

