// ==========================================
// ==========================================
//               ELLIPSIS CONFIG              
// ==========================================
// ==========================================

// WORKFLOW
// --------
// "hybrid" = Run hybrid assembly and annotation
// "short_assembly" = Run short read assembly and annotation
// "no_assembly" = Only run annotation of input assemblies
params.track="short_assembly"



// GENERAL
// -------
// Input
params.reads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/qrec/reads/*_R{1,2}_001.fastq.gz"
params.longreads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/hybrid_data/nanopore/*.fastq.gz"
params.assemblies="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/qrec/some_noplasmids/*.fasta"

// Specify if the chromosome should be included in the annotation
params.chrom=true

// Run trimming of long- and short reads? (HYBRID)
params.trim=false

// Use illumina reads to filter long reads? (HYBRID)
params.illumina_filtering=false


// PROGRAM-SPECIFIC SETTINGS
// -------------------------
// Trimming options
params.phred_score=15

// Canu
params.genomesize="4.7m"
params.sequencer="nanopore"

// Filtlong
params.minlen="1000"
params.keep_percent="90"
params.target_bases="500000000"

// Unicycler
// Mode of assembly, either 'bold', 'normal', or 'conservative'
params.mode="normal"
params.min_fasta_length="500"

// Prokka
// Additional parameters? Add them here.
params.prokka_additional=""

// ARIBA
// Specify the mlst scheme for read-based MLST, and databases for amr- and virulence genes
params.ariba_mlstdb="/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/mlst/Escherichia_coli_1_db/ref_db"
params.ariba_resdb="/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/amr/resfinder_db"
params.ariba_virdb="/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/vir/virulencefinder_db"

// DTU-Tools databases
params.resfinder_db="/cluster/projects/nn9305k/src/resfinder_db"
params.virfinder_db="/cluster/projects/nn9305k/src/virulencefinder_db"
params.plasfinder_db="/cluster/projects/nn9305k/src/plasmidfinder_db"

// Assembly-based MLST
// Specify scheme used with mlst*: ecoli, ecoli_2 etc.
params.mlst_species="ecoli"
