// Run track
// "hybrid" = Run hybrid assembly and annotation
// "short_assembly" = Run short read assembly and annotation
// "no_assembly" = Only run annotation of input assemblies
params.track="hybrid"

// Specify if the chromosome should be included in the annotation
params.chrom=true

// Input
params.assemblies="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/qrec/assemblies/*.fasta"
params.reads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/hybrid_data/illumina/*_R{1,2}.fastq.gz"
params.longreads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/hybrid_data/nanopore/*.fastq.gz"

// Databases
params.resfinder_db="/cluster/projects/nn9305k/src/resfinder_db"
params.virfinder_db="/cluster/projects/nn9305k/src/virulencefinder_db"
params.plasfinder_db="/cluster/projects/nn9305k/src/plasmidfinder_db"

// ARIBA databases
params.ariba_resdb="/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/amr/resfinder_db"
params.ariba_virdb="/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/vir/virulencefinder_db"

// Canu
params.genomesize="4.7m"
params.sequencer="nanopore"

// Filtlong
params.minlen="1000"
params.keep_percent="90"
params.target_bases="550000000"

// Unicycler
// Mode of assembly, either 'bold', 'normal', or 'conservative'
params.mode="normal"
params.min_fasta_length="500"

// Prokka
// Additional parameters? Add them here.
params.prokka_additional=""
