process {
  conda = '/cluster/projects/nn9305k/src/miniconda/envs/plasmidpipeline'
}

process {
    executor = 'slurm'
    clusterOptions = '--job-name=hk_nxf_test --account=nn9305k --mem-per-cpu=4700M'
    queueSize = 24
    maxRetries = 1
    errorStrategy='retry'

    cpus = 1
    withLabel: one {cpus = 1}

    time = { 1.h * task.attempt }
    withLabel: longtime {time = { 4.h * task.attempt }}
}
