process {
    executor = 'slurm'
    clusterOptions = '--job-name=Ellipsis --account=nn9305k --mem-per-cpu=4700M'
    queueSize = 24
    maxRetries = 1
    errorStrategy='retry'

    cpus = 4
    withLabel: medium {cpus = 8}
    withLabel: heavy {cpus = 12}

    time = { 1.h * task.attempt }
    withLabel: longtime {time = { 4.h * task.attempt }}
    withLabel: hybrid {time = { 8.h * task.attempt }
		       cpus = 16}
}

workflow.onComplete = {
    println "Ellipsis Complete!"
    println "Command line: $workflow.commandLine"
    println "Nextflow Version: $workflow.nextflow.version"
    println "Duration: $workflow.duration"
    println "Output Directory: $params.out_dir"
}

params.module_dir="./modules"
