process {
    executor = 'slurm'
    clusterOptions = '--job-name=Ellipsis --account=nn9305k --mem=100G --partition=bigmem'
    queueSize = 24
    maxRetries = 1
    errorStrategy='retry'

    cpus = 4
    withLabel: medium {cpus = 8}
    withLabel: heavy {cpus = 12}

    time = { 1.h * task.attempt }
    withLabel: longtime {time = { 4.h * task.attempt }
			 cpus = 16}
    withLabel: hybrid {time = { 8.h * task.attempt }
		       cpus = 20}
}

params.module_dir="./modules"
singularity.enabled = true
