// Input
params.assemblies="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/test_assemblies/*.fasta"
params.reads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/test_reads/*_{1,2}.fastq.gz"

// Output
params.outdir="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/test_results"
