// Config file for Plasmid Mapping Pipeline
params.reads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/test_reads/*_{1,2}.fastq.gz"
params.out_dir="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/test_results"
params.ref="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/refs/*.fa"
