// Input
params.assemblies="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/qrec/assemblies/*.fasta"
params.reads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/qrec/reads/*_L005_R{1,2}_001.fastq.gz"

// Output
params.outdir="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/test_results"

// Assembly type
// Change to 'true' if input assemblies are complete assemblies
params.complete=false

// Unicycler
// Mode of assembly, either 'bold', 'normal', or 'conservative'
params.mode="bold"

// ARIBA settings
params.amr_db="/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/amr/resfinder_db"
params.vir_db="/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/vir/virulencefinder_db"
