// Track One

params.reads = "/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/*_L006_R{1,2}_001.fastq.gz"
params.setsize = 2

//  Specify the name of the output directory, relative to where the script is being run
params.out_dir = "track_one"

// General configuration variables
params.pwd = "$PWD"
params.help = false
params.savemode = "copy"

// Raw fastqc results
params.fastqc = "fastqc"

// Fastqc evaluation results
params.fastqc_eval = "fastqc_eval"
